html {
    background-color: #404040;
}

h1 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 4em;
}

#home-page-title {
    font-weight: 100;
    text-align: center;
    font-size: 10vmax;
}

* {
    font-family: Raleway;
    font-weight: 400;
    color: white;
}

img {
    margin-top: 1.5em;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

a, a:visited {
    color: silver; 
    font-style: italic;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 2em;
    padding-right: 3.125em;
    padding-left: 3.125em;
    text-transform: lowercase;
}

nav ul li a {
    font-weight: 200;
}

nav ul li a:hover {
    font-weight: 400;
    text-decoration: none;
}

#current-page-link {
    font-style: italic;
    font-weight: 600;
}

#site-in-progress {
    font-size: 6vmax; 
    font-family: Raleway;
    font-weight: 100; 
    font-style: italic;
    text-align: center;
}

.project {
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
}

.project p {
    font-size: 1.5em;
}

hr {
    background-color: white;
}


